*{
  box-sizing: border-box;
}

body{
    margin: 0;
}

.flex-padre {
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(22, 22, 22);
  }

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }

